.containerProyectos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #969494;
  text-align: justify;
  height: 100vh;
  font-family: "Gabarito", sans-serif;
  gap: 15px;
  
  }
  
  

  .divContainerPadre{
    margin-top: 200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }
  
  .h2Proyectos{
    text-align: center;
    font-family: "Gabarito", sans-serif;
    font-size: 40px;
    font-weight: 700;
   
    color: #b3b3b2;
    animation: zoomAnimation 0.5s ease-in-out infinite alternate;
  
  }
 
 
  @keyframes zoomAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .buttonColor{
    background-color: #f7df1e ;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    color : black;
    transition: 0.8s;
  }
  .buttonColor:hover{
    background-color: #0b0b0b ;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    color : #f7df1e;
    transition: 1.8;
  }

  @media only screen and (max-width: 767px) {
    .divContainerPadre{
      margin-top: 50px;
      height: 1400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
     }

    .containerProyectos {

      margin-top: 50px;
      height: 1100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 27px;
        }
        
    
    
    /* Estilos específicos para dispositivos pequeños */
}

/* Media Query para tabletas */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .divContainerPadre{
    margin-top: 50px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }

  .containerProyectos {

    margin-top: 50px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
      }
      
    /* Estilos específicos para tabletas */
}

/* Media Query para dispositivos de escritorio */
@media only screen and (min-width: 992px) {
    /* Estilos específicos para dispositivos de escritorio */
    .divContainerPadre{
      margin-top: 50px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
     }

   
        
}






 







 
    







