.divContainer{
  display: flex;
    height: 1500px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
 
    margin-top: 50px;
    margin-bottom: 50px;
}


.divContainerHijo{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.loading {
  /* Estilo de carga inicial */
  background:  linear-gradient(215deg,#008080,#1f1b1b,#828080); /* Color de fondo */
}




.imgSkils {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 10px;
}








@media only screen and (max-width: 768px) {

  
  .divContainer{
    display: flex;
      height: 1500px;
      width: 100%;
      justify-content: space-around;
      align-items: center;
   
      margin-top: 50px;
      margin-bottom: 50px;
      flex-direction: column;
  }
  .divContainerHijo{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  
  .imgSkils {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 10px;
  }
  
  
  /* Estilos específicos para dispositivos pequeños */
}

/* Media Query para tabletas */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* Estilos específicos para tabletas */
  
  
  
}








/* Media Query para tabletas */
@media only screen and (min-width: 991px) and (max-width: 1300px) {
  /* Estilos específicos para tabletas */
  
  
}

















